body {
  background-color: papayawhip;
}

h1 {
  color: blue;
  font-size: medium; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tasks .completed {
  color: white;
  text-decoration: underline;
}